<div id="sidebar-wrapper" [ngClass]="{ 'collapsed': isCollapsed }">
  <div class="sidebar-heading">
    LightBlue App
  </div>
  <div class="sidebar-menu">
    <a href="/dashboard" routerLinkActive="active">Dashboard</a>
    <a href="/subscription" routerLinkActive="active">Subscriptions</a>
    <a href="/tenant" routerLinkActive="active">Tenants</a>
    <a href="/role" routerLinkActive="active">Roles</a>
    <a href="/resource" routerLinkActive="active">Resources</a>
    <a href="/settings" routerLinkActive="active">Settings</a>
    <a href="/profile" routerLinkActive="active">Profile</a>
  </div>
</div>
