<p-toolbar styleClass="mb-4">
    <ng-template #start>
        <p-button
            *appHasPermission="Permissions.Location.Create"
            label="New"
            icon="pi pi-plus"
            severity="secondary"
            class="mr-2"
            (onClick)="openNew()" />

        <p-button
            label="Delete"
            icon="pi pi-trash"
            severity="secondary"
            outlined
            [disabled]="!selectedLocations || !selectedLocations.length"
            (onClick)="deleteSelected()" />
    </ng-template>

    <ng-template #end>
        <p-button
            label="Export"
            icon="pi pi-upload"
            severity="secondary"
            (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="locations()"
    [rows]="filter.pageSize"
    [paginator]="true"
    [lazy]="true"
    (onPage)="onPage($event)"
    (onSort)="onSort($event)"
    [globalFilterFields]="['name','code','locationTypeName','parentLocationName']"
    [(selection)]="selectedLocations"
    dataKey="id"
    [rowHover]="true"
    [rowsPerPageOptions]="[10,20,30]"
    [totalRecords]="totalRecords"
    [customSort]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} locations">

    <ng-template #caption>
        <div class="flex justify-between items-center">
            <h5 class="m-0">Manage Locations</h5>

            <div class="flex gap-2">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="filter.searchText"
                        (keydown.enter)="onSearch()"
                        placeholder="Search..." />
                </p-iconfield>

                <p-button
                    icon="pi pi-filter"
                    label="Filters"
                    severity="secondary"
                    outlined
                    (click)="filterDialogVisible = true">
                </p-button>

                <p-button
                    icon="pi pi-times"
                    label="Clear"
                    severity="danger"
                    outlined
                    *ngIf="
                        filter.searchText ||
                        filter.isActive !== null ||
                        filter.startDate ||
                        filter.endDate ||
                        filter.locationTypeId
                    "
                    (click)="clearFilters()">
                </p-button>
            </div>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name">
                Name
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
            <th>Location Type</th>
            <th>Parent Location</th>
            <th>Active</th>
            <th style="width: 8rem"></th>
        </tr>
    </ng-template>

    <ng-template #body let-item>
        <tr>
            <td>
                <p-tableCheckbox [value]="item" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.locationTypeName }}</td>
            <td>{{ item.parentLocationName || '-' }}</td>
            <td>
                <p-tag
                    [value]="item.isActive ? 'Active' : 'Inactive'"
                    [severity]="item.isActive ? 'success' : 'danger'">
                </p-tag>
            </td>
            <td class="text-end">
                <p-button
                    *appHasPermission="Permissions.Location.Update"
                    icon="pi pi-pencil"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="editItem(item)">
                </p-button>
                <p-button
                    *appHasPermission="Permissions.Location.Delete"
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="deleteItem(item)">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="Filters"
    [(visible)]="filterDialogVisible"
    [modal]="true"
    [style]="{ width: '400px' }">

    <div class="flex flex-col gap-5 mt-3">
        <div class="flex flex-col gap-2">
            <label>Location Type</label>
            <p-select
                [options]="locationTypes"
                [(ngModel)]="filter.locationTypeId"
                optionLabel="name"
                optionValue="id"
                [showClear]="true"
                placeholder="All types">
            </p-select>
        </div>
        <div class="flex flex-col gap-2">
            <label>Start Date</label>
            <p-datepicker
                [(ngModel)]="filter.startDate"
                dateFormat="yy-mm-dd"
                [showIcon]="true"
                appendTo="body">
            </p-datepicker>
        </div>
        <div class="flex flex-col gap-2">
            <label>End Date</label>
            <p-datepicker
                [(ngModel)]="filter.endDate"
                dateFormat="yy-mm-dd"
                [showIcon]="true">
            </p-datepicker>
        </div>
        <div class="flex flex-col gap-2">
            <label>Status</label>
            <p-select
                [options]="statusOptions"
                [(ngModel)]="filter.isActive"
                optionLabel="label"
                optionValue="value"
                placeholder="Select Status">
            </p-select>
        </div>
        <div class="flex justify-end gap-2 mt-2">
            <p-button label="Clear" severity="secondary" outlined (click)="clearFilters()"></p-button>
            <p-button label="Apply" icon="pi pi-check" (click)="applyFilters()"></p-button>
        </div>
    </div>
</p-dialog>

<p-drawer
    [(visible)]="drawerVisible"
    position="right"
    [modal]="true"
    [blockScroll]="true"
    [closeOnEscape]="true"
    [showCloseIcon]="true"
    [style]="{ width: '400px' }"
    [header]="isEditing ? 'Edit Location' : 'Create Location'">

    <form [formGroup]="form" class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="locationTypeId">Location Type</label>
            <p-select
                inputId="locationTypeId"
                formControlName="locationTypeId"
                [options]="locationTypes"
                optionLabel="name"
                optionValue="id"
                placeholder="Select type">
            </p-select>
            <small
                *ngIf="submitted && form.controls['locationTypeId'].invalid"
                class="text-red-500">
                Location Type is required.
            </small>
        </div>

        <div class="flex flex-col gap-2" *ngIf="parentLocationRequired">
            <label for="parentLocationId">{{ parentLocationTypeName }}</label>
            <p-select
                inputId="parentLocationId"
                formControlName="parentLocationId"
                [options]="parentLocationOptions"
                optionLabel="name"
                optionValue="id"
                placeholder="Select parent">
            </p-select>
            <small
                *ngIf="submitted && form.controls['parentLocationId'].invalid"
                class="text-red-500">
                Parent Location is required.
            </small>
        </div>

        <div class="flex flex-col gap-2">
            <label for="name">Name</label>
            <input pInputText id="name" formControlName="name" />
            <small *ngIf="submitted && form.controls['name'].invalid" class="text-red-500">
                Name is required.
            </small>
        </div>

        <div class="flex flex-col gap-2">
            <label for="code">Code</label>
            <input pInputText id="code" formControlName="code" />
            <small *ngIf="submitted && form.controls['code'].invalid" class="text-red-500">
                Code is required.
            </small>
        </div>

        <div class="flex flex-col gap-2">
            <label for="description">Description</label>
            <textarea pInputTextarea id="description" formControlName="description" rows="3"></textarea>
        </div>

        <div class="flex items-center gap-2">
            <p-checkbox formControlName="isActive" inputId="isActive" [binary]="true"></p-checkbox>
            <label for="isActive">Active</label>
        </div>

        <div class="mt-4 flex justify-end gap-2">
            <p-button label="Cancel" icon="pi pi-times" text (click)="hideDrawer()"></p-button>
            <p-button label="Save" icon="pi pi-check" (click)="save()"></p-button>
        </div>
    </form>
</p-drawer>

<p-confirmdialog [style]="{ width: '450px' }" />
<p-toast />
